
$color-white: rgb(255, 255, 255);
$color-dark: rgb(51, 51, 51);
$color-grey: rgb(153, 153, 153);
$color-yellow: rgb(252, 227, 138);
$color-red: rgba(243, 129, 129, 0.384);
$color-blue: rgb(79, 228, 198);
$color-border: rgb(231, 231, 231);
$color-span: rgb(255, 0, 0);
$color-placeholder: rgb( 204, 204, 204);
$gradient: linear-gradient( rgba(230, 127, 129, 0.9), rgba(240, 216, 137, 0.9));