* {
    margin: 0;
    padding: 0;
}
body {
    padding: 72px 150px 70px 150px;
    color: #626262;
    font-size: 14px;
    font-family: "Playfair Display";
}
.main-header {
    height: 112px;
    width: 896px;
}
.site-navigation li {
    display: inline-block;
}
.site-navigation li:first-child {
    margin-left: 164px;
    margin-right: 114px;
}
.music {
    margin-left: 93px;
    margin-right: 85px; 
}
.site-navigation li:last-child {
    margin-right: 163px;
}
.site-navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: #626262;
    font-family: "Playfair Display";
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: #03a9f4;
}
img {
    height: 280px;
    width: 420px;
    margin-bottom: 23px;
}
.container_left {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 130px;
}
.container_right {
    display: inline-block;
    width: 420px;
    margin-bottom: 130px;
}
.text {
    color: #b4ad9e;
    font-family: Ubuntu Light; 
    font-size: 14px;
    margin-bottom: 20px;
}
h2 {
    text-decoration: none;
    font-family: "Playfair Display-Regular";
    font-size: 30px;
    color: #626262;
    font-weight: 500;
    margin-bottom: 30px;
}
.text1 {
    line-height: 24px;
}
.load-button {
    display: inline-block;
    width: 164px;
    height: 60px;
    background: #ffffff;
    border: solid;
    border-color: #626262;
    border-width: 1px;
    font-size: 20px;
    font-family: "Playfair Display";
    color: #626262;
    cursor: pointer;
    margin: -80px 400px 0px 357px;
}
