/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v13-latin/montserrat-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v13-latin/montserrat-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v13-latin/montserrat-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v13-latin/montserrat-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v19-latin/roboto-v19-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v19-latin/roboto-v19-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v19-latin/roboto-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v19-latin/roboto-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid green; */
}
.container {
    width: 322px;
    margin: 0 auto;
}
 /* Header */
.wraper {
  background-image: url(../img/Back_mobile.jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
}
nav {
  padding-top: 33px;
  display: flex;
  min-height: 50px;
  justify-content: center;
  margin-bottom: 115px;
}
.site-navigation {
  min-width: 151px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-navigation li {
  list-style: none;
}
.site-navigation a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 255);
  font-weight: 700;
  line-height: 14px;
  text-align: center; 
  padding: 10px 18px 10px 18px; 
}
.site-navigation a:hover,
.site-navigation a:focus {
  border: 2px solid rgba(255, 255, 255, 255);
  border-radius: 20px;
}
.charter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.logo {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 38px;
}
.charter_fisrt_name {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: rgb( 255, 255, 255 );
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 19px;
}
.charter_text {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgb( 255, 255, 255 );
  font-weight: 300;
  width: 67.39%;
  text-align: center;
  margin-bottom: 19px;
}
.btn {
  list-style: none;
  width: 280px;
  height: 40px;
  color: rgb(255, 255, 255);
  background-color: #ff4e50;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-width: 0px;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 139px;
}
/* Section */
.main_section {
  display: flex;
  justify-content: center;
}
.section {
  padding-top: 68px;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: rgba(51, 51, 51, 255);
  text-align: center;
  margin-bottom: 14px;
}
.account {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
}
.account:last-child{
  margin-bottom: 0;
}
.account_foto {
  width: 122px;
  height: 122px;
  margin-bottom: 20px;
  position: relative;
}
.foto {
  border-radius: 50%;
  position: relative;
}
.icon{
  position: absolute;
  top: 70%;
  width: 43px;
  height: 43px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 4px solid rgb(255, 255, 255);
  left: 69%;
  display: inline-block;
}
.icon1{
  background-color: rgb(255, 78, 80);
  background-image: url(../img/tv.png);
}
.icon2{
  background-color: rgb(255, 165, 7);
  background-image: url(../img/Shape.png);
}
.icon3{
  background-color: rgb(28, 215, 173);
  background-image: url(../img/coffe.png);
}
.icon4{
  background-color: rgb(78, 115, 219);
  background-image: url(../img/telega.png);
}
.account_name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgba(51, 51, 51, 255);
  text-align: center;
  margin-bottom: 16px;
}
.account_info {
  font-family: 'Roboto-Light', sans-serif;
  font-size: 14px;
  color: rgba(102, 102, 102, 255);
  text-align: center;
}
.btn2{
  width: 280px;
  height: 40px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgb(255, 78, 80);
  border: 2px solid rgb(255, 78, 80);
  background-color: transparent;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 50px;
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1439px) {
    .container {
      min-width: 768px;
     }
    .wraper {
      background-color: rgba(0, 0, 0, 0.877);
      background-image: url(../img/Back_Tablet.png);
      position: relative;
    }
    nav {
      justify-content: flex-end;
      margin-right: 50px;
      margin-bottom: 152px;
      min-height: 74px;
    }
    .logo {
      position: absolute;
      top: 46px;
      left: 50px;
    }
    .charter {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .charter_fisrt_name {
      font-size: 52px;
      width: 70%;
      margin-bottom: 40px;
    }
    .charter_text {
      width: 52%;
      font-size: 24px;
      margin-bottom: 34px;
    }
    .btn {
      width: 225px;
      margin-bottom: 214px;
    }
    .section {
      width: 60%;
      padding-top: 72px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .section_text {
      min-width: 100%;
      margin-bottom: 30px;
    }
    .account {
      width: 50%;
      margin-bottom: 56px;
    }
    .account_order{
      order: 1;
      margin-bottom: 0;
    }
    .account_order2{
      order: 1;
      margin-bottom: 32px;
    }
    .btn2 {
      order: 1;
      margin-left: 100px;
      margin-top: 39px;
    }
}
/* Desktop  */
@media(min-width: 1439px) {
  .container {
    min-width: 1439px;
   }
  .wraper {
    background-color: rgba(0, 0, 0, 0.877);
    background-image: url(../img/Back_desktop.png);
    position: relative;
  }
  .charter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    justify-content: flex-end;
    margin-right: 251px;
    margin-bottom: 152px;
    min-height: 74px;
  }
  .logo {
    position: absolute;
    top: 46px;
    left: 250px;
  }
  .charter_fisrt_name {
    font-size: 52px;
    width: 40%;
    margin-bottom: 40px;
  }
  .charter_text {
    width: 28%;
    font-size: 24px;
    margin-bottom: 35px;
  }
  .btn {
    min-width: 225px;
    margin-bottom: 214px;
  }
  .section {
    width: 65%;
    padding-top: 70px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section_text {
    min-width: 100%;
    margin-bottom: 30px;
  }
  .account {
    width: 25%;
  }
  .account_order{
    order: 1;
    margin-bottom: -5px;
  }
  .account_order2{
    order: 1;
  }
  .btn2 {
    order: 1;
    margin-left: 340px;
    margin-top: 39px;
  }
}