/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v13-latin/montserrat-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v13-latin/montserrat-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v13-latin/montserrat-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v13-latin/montserrat-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-800 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
         url('../fonts/montserrat-v13-latin/montserrat-v13-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v13-latin/montserrat-v13-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-900 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local('Montserrat Black'), local('Montserrat-Black'),
         url('../fonts/montserrat-v13-latin/montserrat-v13-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v13-latin/montserrat-v13-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* roboto-100italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
         url('../fonts/roboto-v19-latin/roboto-v19-latin-100italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v19-latin/roboto-v19-latin-100italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-300italic - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
         url('../fonts/roboto-v19-latin/roboto-v19-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v19-latin/roboto-v19-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v19-latin/roboto-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v19-latin/roboto-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kaushan-script-regular - latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v7-latin/kaushan-script-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/kaushan-script-v7-latin/kaushan-script-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid green; */
}
body {
    padding: 0 0 0 0;
}
/* Header */
.container {
    background: -webkit-gradient(
        linear, 
        left top, left bottom, 
        from(rgba(230, 127, 129, 0.9)), 
        to(rgba(240, 216, 137, 0.9)) 
    ), url(../img/Background@1X.jpeg);
    background: -webkit-linear-gradient(
        rgba(230, 127, 129, 0.9), 
        rgba(240, 216, 137, 0.9) 
    ), url(../img/Background@1X.jpeg);
    background: -o-linear-gradient(
        rgba(230, 127, 129, 0.9), 
        rgba(240, 216, 137, 0.9) 
    ), url(../img/Background@1X.jpeg);
    background: linear-gradient(
        rgba(230, 127, 129, 0.9), 
        rgba(240, 216, 137, 0.9) 
    ), url(../img/Background@1X.jpeg);
    background-position: top;
    -o-object-fit: cover;
       object-fit: cover;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.wraper {
    max-width: 1200px;
    margin: 0 auto;
}
.page__header {
    padding-bottom: 119px;
}
.logo a{
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 23px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    font-style: normal;
    font-weight: 700;
}
.page__navigation {
    padding-top: 36px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.site-navigation__items {
    min-width: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.site-navigation li {
    list-style: none;
}
.site-navigation__item a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.786;
    text-align: center;  
}
.site-navigation__item a:hover,
.site-navigation__item a:focus {
    color: #fce38a;
    border-bottom: 2px solid #fce38a;
}
.link__svg {
    width: 18px;
    height: 18px; 
    fill: rgba(255, 255, 255, 255);            
}
.link__svg:hover {
    fill: #fce38a;
}
.nav__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 67%;
    margin: 0 auto;
}
.nav__title--name {
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    color: rgba(255, 255, 255, 255);
    display: block;
    font-weight: 400;
    text-align: center;
    margin-bottom: 32px;
}
.nav__title--mainname {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    font-weight: 700;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
    line-height: 110px;
    text-align: center;
    margin-bottom: 94px;
}
.nav__button {
    width: 160px;
    height: 40px;
    border: 2px solid rgba(255, 255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-bottom: 170px;
    cursor: pointer;
}
/* First section */
.first-section {
    max-width: 1150px;
    margin: 0 auto;
}
.first-section__title {
    margin-top: 40px;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: rgba( 51, 51, 51, 255);
    display: block;
    font-weight: 400;
    text-align: center;
    margin-bottom: 22px;
}
.first-section__name {
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb( 51, 51, 51 );
    text-transform: uppercase;
    font-weight: 700; 
}
.first-section__name::after {
    content: "";
    display: block;
    background-color: rgb(243, 129, 129);
    width: 60px;
    height: 3px;
    margin: auto;
    margin-top: 42px;
    margin-bottom: 66px;
}
.services__menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.first-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
}
.second-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 92px;
}
.services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 68px;
}
.icon__svg {
    margin-right: 29px;
    display: block;
    width: 32px;
    height: 32px;
    fill: #95e1d3;
}
.service {
    width: 290px;
    height: 69px;
}
.service__name {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb( 51, 51, 51 );
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
}
.service__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgb( 153, 153, 153 );
    text-align: left;
}

/* Second section */

.second-section {
    max-width: 1200px;
    margin: 0 auto;
}
.second-section__title {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: rgba( 51, 51, 51, 255);
    display: block;
    font-weight: 400;
    text-align: center;
    margin-bottom: 22px;
}
.second-section__name {
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb( 51, 51, 51 );
    text-transform: uppercase;
    font-weight: 700; 
}
.second-section__name::after {
    content: "";
    display: block;
    background-color: rgb(243, 129, 129);
    width: 60px;
    height: 3px;
    margin: auto;
    margin-top: 42px;
    margin-bottom: 66px;
}
.second-section__text {
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgb( 153, 153, 153 );
    text-align: center;
    margin-bottom: 90px;
}
.team__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.team__name {
    width: 383px;
    height: 540px;
    margin-bottom: 82px;
}
.team {
    max-width: 383px;
    height: 473px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 31px;
}

.box1 {
    width: 383px;
    height: 473px;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    background-image: url(../img/Team\ 1@1X.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.box2 {
    width: 383px;
    height: 473px;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    background-image: url(../img/Team\ 2@1X.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.box3 {
    width: 383px;
    height: 473px;
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    background-image: url(../img/Team\ 3@1X.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.team:hover .box {
    -webkit-transform: translate(-9px, -9px);
        -ms-transform: translate(-9px, -9px);
            transform: translate(-9px, -9px);
    -webkit-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-box-shadow: 9px 9px #95e1d3;
            box-shadow: 9px 9px #95e1d3;
}
.inner {
    width: 224px;
    height: 56px;
    background-color: #fce38a;
    display: none;
    margin: auto;
}

.team1:hover .box1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(243, 129, 129, 0.8)), to(rgba(252, 227, 138, 0.8))), url(../img/Team\ 1@1X.jpeg);
    background-image: -webkit-linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 1@1X.jpeg);
    background-image: -o-linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 1@1X.jpeg);
    background-image: linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 1@1X.jpeg);
    background-size: cover;
}
.team2:hover .box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(243, 129, 129, 0.8)), to(rgba(252, 227, 138, 0.8))), url(../img/Team\ 2@1X.jpeg);
    background-image: -webkit-linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 2@1X.jpeg);
    background-image: -o-linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 2@1X.jpeg);
    background-image: linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 2@1X.jpeg);
    background-size: cover;
}
.team3:hover .box3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(243, 129, 129, 0.8)), to(rgba(252, 227, 138, 0.8))), url(../img/Team\ 3@1X.jpeg);
    background-image: -webkit-linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 3@1X.jpeg);
    background-image: -o-linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 3@1X.jpeg);
    background-image: linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 3@1X.jpeg);
    background-size: cover;
}
.team:hover .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.social1:hover >svg { 
    fill: white;
}
.social2:hover >svg { 
    fill: white;
}
.social3:hover >svg { 
    fill: white;
}
.social4:hover >svg { 
    fill: white;
}
.social1:hover {
    background-color: #f38181;
}
.social2:hover  {
    background-color: #f38181;
}
.social3:hover  {
    background-color: #f38181;
}
.social4:hover  {
    background-color: #f38181;
}
.social__svg{
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translate( -45%, 0%);
        -ms-transform: translate( -45%, 0%);
            transform: translate( -45%, 0%);
    width: 30%;
    fill: #f38181;
}
.social__svg--icon {
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translate( -45%, 0%);
        -ms-transform: translate( -45%, 0%);
            transform: translate( -45%, 0%);
    width: 40%;
    fill: #f38181;
}
.social1,.social2,.social3,.social4{
    width: 56px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fce38a;
    border-right: 0.5px solid #f38181;
}
.name {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgb( 51, 51, 51 );
    text-transform: uppercase;
    text-align: center;
}
.profession {
    font-size: 15px;
    color: rgb( 153, 153, 153 );
    font-weight: 100;
    line-height: 1.6;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic; 
}

/* Footer  */

footer {
    height: 62px;
    border-top: 1px solid #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
footer > p {
    font-family: 'Montserrat', sans-serif;
    color: rgba(51, 51, 51, 255);
    text-align: left;
    font-size: 14px;
    line-height: 5;
    vertical-align: -10px;
}
p > span {
    margin-left: 2px;
    color: #f38181;
}
.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
input {
    width: 230px;
    height: 40px;
    border: 1px solid #e5e5e5;
}
input[type="email"] {
    padding: 0 0 0 15px;
    font-size: 15px;
}
input::-webkit-input-placeholder {
    color: rgb( 204, 204, 204 );
    font-family: 'Robotolight',sans-serif;
}
input:-ms-input-placeholder {
    color: rgb( 204, 204, 204 );
    font-family: 'Robotolight',sans-serif;
}
input::-ms-input-placeholder {
    color: rgb( 204, 204, 204 );
    font-family: 'Robotolight',sans-serif;
}
input::placeholder {
    color: rgb( 204, 204, 204 );
    font-family: 'Robotolight',sans-serif;
}
input[type="submit"] {
    list-style: none;
    width: 150px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border-width: 0px;
    cursor: pointer;
}
@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi) {
    .container {
        background: -webkit-gradient(
        linear, 
        left top, left bottom, 
        from(rgba(230, 127, 129, 0.9)), 
        to(rgba(240, 216, 137, 0.9)) ),
        url(../img/Background@2X.jpeg);
        background: -webkit-linear-gradient(
        rgba(230, 127, 129, 0.9), 
        rgba(240, 216, 137, 0.9) ),
        url(../img/Background@2X.jpeg);
        background: -o-linear-gradient(
        rgba(230, 127, 129, 0.9), 
        rgba(240, 216, 137, 0.9) ),
        url(../img/Background@2X.jpeg);
        background: linear-gradient(
        rgba(230, 127, 129, 0.9), 
        rgba(240, 216, 137, 0.9) ),
        url(../img/Background@2X.jpeg);
        background-position: top;
        -o-object-fit: cover;
           object-fit: cover;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .box1 {
        background-image: url(../img/Team\ 1@2X.jpeg);
    }

    .box2 {
        background-image: url(../img/Team\ 2@2X.jpeg);
    }

    .box3 {
        background-image: url(../img/Team\ 3@2X.jpeg);
    }
    .team1:hover .box1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(243, 129, 129, 0.8)), to(rgba(252, 227, 138, 0.8))), url(../img/Team\ 1@2X.jpeg);
        background-image: -webkit-linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 1@2X.jpeg);
        background-image: -o-linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 1@2X.jpeg);
        background-image: linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 1@2X.jpeg);
        background-size: cover;
    }
    .team2:hover .box2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(243, 129, 129, 0.8)), to(rgba(252, 227, 138, 0.8))), url(../img/Team\ 2@2X.jpeg);
        background-image: -webkit-linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 2@2X.jpeg);
        background-image: -o-linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 2@2X.jpeg);
        background-image: linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 2@2X.jpeg);
        background-size: cover;
    }
    .team3:hover .box3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(243, 129, 129, 0.8)), to(rgba(252, 227, 138, 0.8))), url(../img/Team\ 3@2X.jpeg);
        background-image: -webkit-linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 3@2X.jpeg);
        background-image: -o-linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 3@2X.jpeg);
        background-image: linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8)), url(../img/Team\ 3@2X.jpeg);
        background-size: cover;
    }
}    